**/__pycache__/
langs.json
message_log.txt
*.db
*.db-journal
/database/*.*
.vscode
config.py
changelog_command.py
fun.py
verif.py
suggests.py
music_command.py
modtools.py
messages_log.py
help.py
economy.py
custom_prefix.py
clear.py
anticrash.py
migrate.py
ffmpeg.exe